---
# main tasks file for role containerhost

# see: https://docs.ansible.com/projects/ansible/latest/playbook_guide/playbooks_reuse_roles.html#roles

- name: Validate container project setting
  assert:
    that:
      - ch__container_project_name is defined
      - ch__container_project_name in ch__container_allowed_projects
    fail_msg: >-
      ch__container_project_name is "{{ ch__container_project_name }}",
      but must be one of: {{ ch__container_allowed_projects | join(', ') }}
    success_msg: "ch__container_project_name is valid"

- name: Populate service facts
  become: true
  ansible.builtin.service_facts:

- name: Set timezone
  become: true
  community.general.timezone:
    name: "{{ ch__time_zone }}"

- name: Set hostname to inventory hostname
  become: true
  ansible.builtin.hostname:
    name: "{{ inventory_hostname }}"
  when: ch__enforce_inventory_hostname

# I'm sorry, this task should be removed once the required settings are investigated
- name: Put SELinux in permissive mode
  become: true
  ansible.posix.selinux:
    policy: targeted
    state: permissive

- name: Enable EPEL repository
  become: true
  ansible.builtin.dnf:
    name: epel-release
    state: present

- name: Install packages
  become: true
  ansible.builtin.dnf:
    name: "{{ ch__packages_install_dnf }}"
    state: present

- name: Ensure podman completion line is in .bashrc
  become: false
  ansible.builtin.lineinfile:
    path: "/home/{{ ansible_user }}/.bashrc"
    line: 'eval "$(podman completion bash)"'
    create: yes
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0644'

- name: Create a directory if it does not exist
  become: false
  ansible.builtin.file:
    path: /home/{{ ansible_user }}/container-projects
    state: directory
    mode: '0755'

- name: Enable and start services
  become: true
  ansible.builtin.service:
    name: "{{ item }}"
    enabled: true
    state: restarted
  with_items: "{{ ch__system_services }}"

###############################################################################
### Project specific tasks
###############################################################################

- name: Include project specific vars 
  ansible.builtin.include_vars:
    file: "vars_project_{{ ch__container_project_name }}.yml"

- name: Run project specific tasks
  ansible.builtin.include_tasks: "project_{{ ch__container_project_name }}.yml"

###############################################################################
### Systemd integration
###############################################################################

- name: Enable linger for container service user
  become: true
  ansible.builtin.command:
    cmd: "loginctl enable-linger {{ ansible_user }}"
    creates: "/var/lib/systemd/linger/{{ ansible_user }}"


- name: Generate systemd unit file for {{ ch__container_project_name }}
  become: true
  ansible.builtin.template:
    src: ansible-templates/podman_compose_systemd_unit.j2
    dest: /etc/systemd/user/podman-compose--{{ ch__container_project_name }}.service
    owner: root
    group: root
    mode: u=rw,g=r,o=r


- name: Enable and start (user) systemd unit for container project {{ ch__container_project_name }}
  ansible.builtin.systemd_service:
    scope: user
    name: "podman-compose--{{ ch__container_project_name }}"
    enabled: true
    state: started
