---

- name: Configure unprivileged ports in sysctl
  become: true
  ansible.posix.sysctl:
    name: net.ipv4.ip_unprivileged_port_start
    value: '80'
    sysctl_set: true
    state: present
    reload: true

- name: "Copy container project files"
  # https://docs.ansible.com/ansible/latest/collections/ansible/posix/synchronize_module.html#parameters
  ansible.posix.synchronize:
    mode: push
    src: container-projects/{{ container_project_name }}
    dest: "/home/{{ ansible_user }}/container-projects/"
    # delete: true
    recursive: true

### Local build of postgres-backup container
- name: Git checkout "postgres-backup" project
  # noqa: latest
  ansible.builtin.git:
    repo: 'https://github.com/szpeter80/misc.git'
    dest: /home/{{ ansible_user }}/container-projects/{{ container_project_name }}/900-postgresql/postgres-backup/repo


- name: Build "postgres-backup" image
  containers.podman.podman_image:
    name: local/postgresql-backup:latest
    path: /home/{{ ansible_user }}/container-projects/{{ container_project_name }}/900-postgresql/postgres-backup/repo/containers/pg-backup
    build:
      # cache: false
      rm: true
      format: oci
      annotation:
        info: "Locally built image"

