---
#
# It is possible to update the container project by calling only the tasks
# which are tagged with "update"
#

- name: Configure unprivileged ports in sysctl
  become: true
  ansible.posix.sysctl:
    name: net.ipv4.ip_unprivileged_port_start
    value: '80'
    sysctl_set: true
    state: present
    reload: true

- name: "Set up host firewall"
  become: true
  ansible.posix.firewalld:
    port: "{{ item }}"
    state: enabled
    permanent: true
  with_items: "{{ firewall_allowed_ports }}"
  notify: "Restart firewalld"

- name: "Copy container project files"
  tags: update
  # https://docs.ansible.com/ansible/latest/collections/ansible/posix/synchronize_module.html#parameters
  ansible.posix.synchronize:
    mode: push
    src: container-projects/{{ container_project_name }}
    dest: "/home/{{ ansible_user }}/container-projects/"
    # delete: true
    recursive: true


###############################################################################
### Local build of mariadb-backup container
###############################################################################

- name: Git checkout "mariadb-backup" project
  # noqa: latest
  ansible.builtin.git:
    repo: 'https://github.com/szpeter80/misc.git'
    dest: /home/{{ ansible_user }}/container-projects/{{ container_project_name }}/900-mariadb/mariadb-backup/repo


- name: Build "mariadb-backup" image
  containers.podman.podman_image:
    name: local/mariadb-backup:latest
    path: /home/{{ ansible_user }}/container-projects/{{ container_project_name }}/900-mariadb/mariadb-backup/repo/containers/mariadb-backup
    build:
      # cache: false
      rm: true
      format: oci
      annotation:
        info: "Locally built image"
