###############################################################################
### Project: Zabbix server
###############################################################################

---

- name: "Install official Zabbix repo for RHEL"
  become: true
  ansible.builtin.dnf:
    name: "https://repo.zabbix.com/zabbix/{{ containerhost__zabbix__zabbix_version }}/release/rhel/{{ containerhost__zabbix__rhel_version }}/noarch/zabbix-release-latest-{{ containerhost__zabbix__zabbix_version }}.el{{ containerhost__zabbix__rhel_version }}.noarch.rpm"
    state: present
    disable_gpg_check: true
  when: containerhost__zabbix__install_agent_to_managed_host

- name: Install Zabbix agent to Zabbix server host
  become: true
  ansible.builtin.package:
    name: zabbix-agent2
    state: present
    update_cache: true
  when: containerhost__zabbix__install_agent_to_managed_host

### Local build of postgres-backup container
- name: Git checkout "postgres-backup" project
  # noqa: latest
  ansible.builtin.git:
    repo: 'https://github.com/szpeter80/containers.git'
    dest: /home/{{ ansible_user }}/container-projects/{{ containerhost__container_project_name }}/900-postgresql/postgres-backup/repo


- name: Build "postgres-backup" image
  containers.podman.podman_image:
    name: local/postgresql-backup:latest
    path: /home/{{ ansible_user }}/container-projects/{{ containerhost__container_project_name }}/900-postgresql/postgres-backup/repo/pg-backup
    build:
      # cache: false
      rm: true
      format: oci
      annotation:
        info: "Locally built image"

