---
### https://docs.docker.com/compose/compose-file/

networks:
  containerhost:
    external: true

services:

  nginx:
    ### https://hub.docker.com/_/nginx
    image: docker.io/library/nginx:1.14
#    ports:
#      - 8080:8080
    environment:
      - TZ={{ containerhost__time_zone }}
      - LANG=en_US.utf8
    restart: unless-stopped
    volumes:
      - /home/admin/container-projects/lampstack/999-app-example:/app:z,ro
    depends_on:
      - php-fpm

  php-fpm:
    ### https://hub.docker.com/_/nginx
    image: docker.io/bitnami/php-fpm:7.2
#    ports:
#      - 8000:8000
    environment:
      - TZ={{ containerhost__time_zone }}
      - LANG=en_US.utf8

    restart: unless-stopped
    volumes:
      - /home/admin/container-projects/lampstack/999-app-example:/app:z,ro
