---
### https://docs.docker.com/compose/compose-file/


services:

  # https://docs.gitlab.com/install/docker/installation/#install-gitlab-by-using-docker-compose
  gitlab-ce:
    # https://hub.docker.com/r/gitlab/gitlab-ce
    image: docker.io/library/gitlab-ce:18.9.1-ce.0
    hostname: 'gitlab.example.com'
    shm_size: '256m'
    ports:
      - '8929:8929'
      - '443:443'
      - '2424:22'
    environment:
      - TZ=Europe/Budapest
      - GITLAB_OMNIBUS_CONFIG: |
        # Add any other gitlab.rb configuration here, each on its own line
        external_url 'http://gitlab.example.com:8929'
        gitlab_rails['gitlab_shell_ssh_port'] = 2424
    volumes:
      - '/home/{{ ansible_user }}/container-projects/{{containerhost__container_project_name}}/config:/etc/gitlab'
      - '/home/{{ ansible_user }}/container-projects/{{containerhost__container_project_name}}/logs:/var/log/gitlab'
      - '/home/{{ ansible_user }}/container-projects/{{containerhost__container_project_name}}/data:/var/opt/gitlab'
    restart: unless-stopped

# If you use the shell executor. Then no container socket is required.
# Jobs run directly on the host:
# executor = "shell"
# Limitation: .gitlab-ci.yml jobs cannot use image, jobs are not isolated
# This works fine with Podman installed locally if your scripts call podman manually.
# https://docs.gitlab.com/runner/install/docker/

  gitlab-runner:
    # https://hub.docker.com/r/gitlab/gitlab-runner
    image: docker.io/library/gitlab-runner:latest
    ports:
    environment:
      - TZ=Europe/Budapest

    volumes:
      - '/home/{{ ansible_user }}/container-projects/{{containerhost__container_project_name}}/gitlab-runner/config:/etc/gitlab-runner'
    restart: unless-stopped