---
### https://docs.docker.com/compose/compose-file/


networks:
  containerhost:
    external: true
    
services:

  redmine:
    # https://hub.docker.com/_/redmine#-via-docker-compose
    image: docker.io/library/redmine:6.1-alpine
    networks:
      - containerhost

    ports:
      - 8080:3000
    environment:
      - TZ={{ containerhost__time_zone }}
      - LANG=en_US.utf8
      - REDMINE_DB_MYSQL: db
      - REDMINE_DB_PASSWORD: example
      - REDMINE_SECRET_KEY_BASE: supersecretkey
    restart: unless-stopped
