---
### https://docs.docker.com/compose/compose-file/

networks:
  containerhost:
    external: true

services:
# https://jupyter.org/hub

# https://tljh.jupyter.org/en/latest/contributing/dev-setup.html
# https://tljh.jupyter.org/en/latest/install/custom-server.html

  jupyterhub:
    image: FIXME
    environment:
      - TZ={{ containerhost__time_zone }}
      - LANG=en_US.utf8

    restart: unless-stopped
    volumes:
