---
### https://docs.docker.com/compose/compose-file/

networks:
  containerhost:
    external: true

services:

# https://docs.gitlab.com/install/docker/installation/#install-gitlab-by-using-docker-compose
  gitlab-ce:
#   https://hub.docker.com/r/gitlab/gitlab-ce
    image: docker.io/gitlab/gitlab-ce:18.9.2-ce.0
    hostname: 'gitlab.example.com'
    shm_size: '256m'
    networks:
      - containerhost
    ports:
#      - '8929:8929'
#      - '443:443'
#      - '2424:22'
    environment:
      TZ: {{ containerhost__time_zone }}
      LANG: en_US.utf8
      GITLAB_OMNIBUS_CONFIG: |
        # Add any other gitlab.rb configuration here, each on its own line
        # https://docs.gitlab.com/omnibus/settings/ssl/#configure-a-reverse-proxy-or-load-balancer-ssl-termination
        external_url 'https://{{ ansible_host }}/gitlab'
        letsencrypt['enable'] = false

        nginx['listen_port'] = 8080
        nginx['listen_https'] = false
        gitlab_rails['gitlab_shell_ssh_port'] = 2424

        # Disables Puma clustering, claimed 2-400Mb RAM savings
        #puma['worker_processes'] = 0

        # Disable Gitlab monitoring - nothing would watch it atm
        alertmanager['enable'] = false
        gitlab_exporter['enable'] = false
        gitlab_kas['enable'] = false
        node_exporter['enable'] = false
        postgres_exporter['enable'] = false
        prometheus_monitoring['enable'] = false
        prometheus['enable'] = false
        puma['exporter_enabled'] = false
        redis_exporter['enable'] = false
        sidekiq['metrics_enabled'] = false
    volumes:
      - '/home/{{ ansible_user }}/container-projects/{{containerhost__container_project_name}}/gitlab_ce/config:/etc/gitlab'
      - '/home/{{ ansible_user }}/container-projects/{{containerhost__container_project_name}}/gitlab_ce/logs:/var/log/gitlab'
      - '/home/{{ ansible_user }}/container-projects/{{containerhost__container_project_name}}/gitlab_ce/data:/var/opt/gitlab'
    restart: unless-stopped

# If you use the shell executor. Then no container socket is required.
# Jobs run directly on the host:
# executor = "shell"
# Limitation: .gitlab-ci.yml jobs cannot use image, jobs are not isolated
# This works fine with Podman installed locally if your scripts call podman manually.
# https://docs.gitlab.com/runner/install/docker/
# FIXME: https://gitlab.com/gitlab-org/gitlab-runner/-/work_items/1285
###  gitlab-runner:
###    image: docker.io/gitlab/gitlab-runner:latest
###    # https://hub.docker.com/r/gitlab/gitlab-runner
###    ports:
###    environment:
###      - TZ={{ containerhost__time_zone }}
###      - LANG=en_US.utf8
###
###    volumes:
###      - '/home/{{ ansible_user }}/container-projects/{{containerhost__container_project_name}}/gitlab-runner/config:/etc/gitlab-runner'
###    restart: unless-stopped
